# --- WOL Bot Configuration ---

# List of Telegram User IDs allowed to control the bot.
# You can get your ID from bots like @userinfobot
allowed_users = [
    123456789, 
    987654321
]

# The network interface to use for broadcasting Magic Packets.
# On OpenWrt, 'br-lan' is the standard bridge for the local network.
interface = "br-lan"

# Devices mapping: "unique_name" = ["MAC_ADDRESS", "IP_ADDRESS", "TIMEOUT_SECS"]
# - MAC is used for waking up the device (WOL).
# - IP is used for checking the status (Ping).
# - TIMEOUT_SECS is used for ping timeout after wake
[devices]
gaming_pc = ["AA:BB:CC:DD:EE:FF", "192.168.1.10", "30"]
home_server = ["11:22:33:44:55:66", "192.168.1.20", "60"]
nas = ["00:11:22:33:44:55", "192.168.1.30", "90"]
